
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Yazar Ajax işlemleri</h1>
<br />
<button type="button" id="btn" class="btn btn-primary">Yazar Listesi</button>
<button type="button" id="btngetbyId" class="btn btn-success">Yazar Getir</button>
<button type="button" id="addBtn" class="btn btn-secondary">Yazar Ekle</button>
<button type="button" id="deleteBtn" class="btn btn-danger">Yazar Sil</button>


<br />
<br />
<div id="writerList">
    yazarlar gelicek
</div>
<div id="getbyId"> Buraya 1 yazar gelecek</div>
<br />
<div> <input type="text" id="id" class="form-control" placeholder="Aranıcak Yazarın ID Değerini Girin" /> </div>
<hr />
<div>
    <input type="text" class="form-control" id="addDiv" placeholder="Yazar ID" />
    <input type="text" class="form-control" id="nameDiv" placeholder="Yazar Adı" />
</div>
<br />
<div>
    <input type="text" class="form-control" id="deleteDiv" placeholder="Silinecek Yazar ID" />
</div>
@section scripts{
    <script>
        $("#btn").click(() => {

            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "Get",
                url: "/Admin/Writer/WriterList/",
                success: (x) => {
                    let w = jQuery.parseJSON(x);
                    console.log(w);
                    let tableHtml = "<table class= table table-bordered><thead><th>Yazar ID</th><th>Yazar Adı</th></thead>";
                    $.each(w, (index, value) => {

                        tableHtml += `<tbody><tr><td>${value.Id}</td><td>${value.Name}</td></tr></tbody>`

                    });
                    tableHtml += "</table>";
                    $("#writerList").html(tableHtml);
                }
            });
        });
        $("#btngetbyId").click((x) => {

            const id = $("#id").val();
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "Get",
                url: "/Admin/Writer/GetWriterByID/",
                data: {
                    id: id
                },
                success: (x) => {
                    let w = jQuery.parseJSON(x);
                    console.log(w);
                    let getValue = `<table class=table table-bordered><tr><th>YazarID</th><th>YazarAdı</th></tr>
                            <tr><td>${w.Id}</td><td>${w.Name}</td></tr></table>`;
                    $("#getbyId").html(getValue);
                }
            });


        });
        $("#addBtn").click((x) => {
            let writer = {
                Id: $("#addDiv").val(),
                Name: $("#nameDiv").val()
            };
            $.ajax({
                type: "POST",
                url: "/Admin/Writer/addWriter/",
                data: writer,
                success: (x) => {
                    let result = jQuery.parseJSON(x);
                    alert("Yazar Eklendi");
                }
            });
        });
        $("#deleteBtn").click((x) => {
            let id = $("#deleteDiv").val();
            $.ajax({
                url: "/Admin/Writer/deleteWriter/" + id,
                type: "POST",
                dataType: "json",
                success: (x) => {
                    
                    alert("Yazar Silme Başarılı");
                }
            });
        });
    </script>
}