@using EntityLayer.Concreate
@model List<Blog>
@{
    ViewData["Title"] = "BlogListByWriter";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}
 
<table class="table table-bordered">
    <tr>
        <td>#</td>
        <td>Blog Başlığı</td>
        <td>Oluşturulma Tarihi</td>
        <td>Kategori</td>
        <td>Durum</td>
        <td>Sil</td>
        <td>Düzenle</td>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.blogID</td>
            <td>@x.blogTitle</td>
            <td>@(((DateTime)x.blogCreateDate).ToString("ddd-MMM-yyy"))</td>
            <td>@x.category.categoryName</td>
            <td>
                @if (x.blogStatus)
                {
                    <span class="badge badge-success">Aktif</span>
                }
                else
                {
                    <span class="badge badge-secondary">Pasif</span>
                }
            </td>
            <td><a href="/Blog/DeleteBlog/@x.blogID" class="btn btn-danger">Sil</a></td>
            <td>
 
                <a href="/Blog/UpdateBlog/@x.blogID" id="btn1" class="btn btn-warning">Düzenle</a>
            </td>
        </tr>
    }

</table>
<a href="~/Blog/AddBlog/" class="btn btn-primary" style="margin-top:10px;">Yeni Blog</a>
